.light .text-theme-100 {
  color: #ffffff;
}
.light .bg-theme-100 {
  background-color: #ffffff;
}
.light .border-theme-100 {
  border-color: #ffffff;
}
.light .text-theme-150 {
  color: #fcfbf9;
}
.light .bg-theme-150 {
  background-color: #fcfbf9;
}
.light .border-theme-150 {
  border-color: #fcfbf9;
}
.light .text-theme-200 {
  color: #fbfaf7;
}
.light .bg-theme-200 {
  background-color: #fbfaf7;
}
.light .border-theme-200 {
  border-color: #fbfaf7;
}
.light .text-theme-250 {
  color: #faf9f6;
}
.light .bg-theme-250 {
  background-color: #faf9f6;
}
.light .border-theme-250 {
  border-color: #faf9f6;
}
.light .text-theme-300 {
  color: #f9f8f5;
}
.light .bg-theme-300 {
  background-color: #f9f8f5;
}
.light .border-theme-300 {
  border-color: #f9f8f5;
}
.light .text-theme-350 {
  color: #f9f7f3;
}
.light .bg-theme-350 {
  background-color: #f9f7f3;
}
.light .border-theme-350 {
  border-color: #f9f7f3;
}
.light .text-theme-400 {
  color: #f8f6f2;
}
.light .bg-theme-400 {
  background-color: #f8f6f2;
}
.light .border-theme-400 {
  border-color: #f8f6f2;
}
.light .text-theme-450 {
  color: #dfddda;
}
.light .bg-theme-450 {
  background-color: #dfddda;
}
.light .border-theme-450 {
  border-color: #dfddda;
}
.light .text-theme-500 {
  color: #c6c5c2;
}
.light .bg-theme-500 {
  background-color: #c6c5c2;
}
.light .border-theme-500 {
  border-color: #c6c5c2;
}
.light .text-theme-550 {
  color: #aeaca9;
}
.light .bg-theme-550 {
  background-color: #aeaca9;
}
.light .border-theme-550 {
  border-color: #aeaca9;
}
.light .text-theme-600 {
  color: #959491;
}
.light .bg-theme-600 {
  background-color: #959491;
}
.light .border-theme-600 {
  border-color: #959491;
}
.light .text-theme-650 {
  color: #7c7b79;
}
.light .bg-theme-650 {
  background-color: #7c7b79;
}
.light .border-theme-650 {
  border-color: #7c7b79;
}
.light .text-theme-700 {
  color: #636261;
}
.light .bg-theme-700 {
  background-color: #636261;
}
.light .border-theme-700 {
  border-color: #636261;
}
.light .text-theme-750 {
  color: #4a4a49;
}
.light .bg-theme-750 {
  background-color: #4a4a49;
}
.light .border-theme-750 {
  border-color: #4a4a49;
}
.light .text-theme-800 {
  color: #323130;
}
.light .bg-theme-800 {
  background-color: #323130;
}
.light .border-theme-800 {
  border-color: #323130;
}
.light .text-theme-850 {
  color: #191918;
}
.light .bg-theme-850 {
  background-color: #191918;
}
.light .border-theme-850 {
  border-color: #191918;
}
.light .text-theme-900 {
  color: #000000;
}
.light .bg-theme-900 {
  background-color: #000000;
}
.light .border-theme-900 {
  border-color: #000000;
}

.dark .text-theme-100 {
  color: #0c0c12;
}
.dark .bg-theme-100 {
  background-color: #0c0c12;
}
.dark .border-theme-100 {
  border-color: #0c0c12;
}
.dark .text-theme-150 {
  color: #0f0f17;
}
.dark .bg-theme-150 {
  background-color: #0f0f17;
}
.dark .border-theme-150 {
  border-color: #0f0f17;
}
.dark .text-theme-200 {
  color: #12121b;
}
.dark .bg-theme-200 {
  background-color: #12121b;
}
.dark .border-theme-200 {
  border-color: #12121b;
}
.dark .text-theme-250 {
  color: #15151f;
}
.dark .bg-theme-250 {
  background-color: #15151f;
}
.dark .border-theme-250 {
  border-color: #15151f;
}
.dark .text-theme-300 {
  color: #181824;
}
.dark .bg-theme-300 {
  background-color: #181824;
}
.dark .border-theme-300 {
  border-color: #181824;
}
.dark .text-theme-350 {
  color: #1b1b29;
}
.dark .bg-theme-350 {
  background-color: #1b1b29;
}
.dark .border-theme-350 {
  border-color: #1b1b29;
}
.dark .text-theme-400 {
  color: #1e1e2d;
}
.dark .bg-theme-400 {
  background-color: #1e1e2d;
}
.dark .border-theme-400 {
  border-color: #1e1e2d;
}
.dark .text-theme-450 {
  color: #353542;
}
.dark .bg-theme-450 {
  background-color: #353542;
}
.dark .border-theme-450 {
  border-color: #353542;
}
.dark .text-theme-500 {
  color: #4b4b57;
}
.dark .bg-theme-500 {
  background-color: #4b4b57;
}
.dark .border-theme-500 {
  border-color: #4b4b57;
}
.dark .text-theme-550 {
  color: #62626c;
}
.dark .bg-theme-550 {
  background-color: #62626c;
}
.dark .border-theme-550 {
  border-color: #62626c;
}
.dark .text-theme-600 {
  color: #787881;
}
.dark .bg-theme-600 {
  background-color: #787881;
}
.dark .border-theme-600 {
  border-color: #787881;
}
.dark .text-theme-650 {
  color: #8f8f96;
}
.dark .bg-theme-650 {
  background-color: #8f8f96;
}
.dark .border-theme-650 {
  border-color: #8f8f96;
}
.dark .text-theme-700 {
  color: #a5a5ab;
}
.dark .bg-theme-700 {
  background-color: #a5a5ab;
}
.dark .border-theme-700 {
  border-color: #a5a5ab;
}
.dark .text-theme-750 {
  color: #bcbcc0;
}
.dark .bg-theme-750 {
  background-color: #bcbcc0;
}
.dark .border-theme-750 {
  border-color: #bcbcc0;
}
.dark .text-theme-800 {
  color: #d2d2d5;
}
.dark .bg-theme-800 {
  background-color: #d2d2d5;
}
.dark .border-theme-800 {
  border-color: #d2d2d5;
}
.dark .text-theme-850 {
  color: #e9e9ea;
}
.dark .bg-theme-850 {
  background-color: #e9e9ea;
}
.dark .border-theme-850 {
  border-color: #e9e9ea;
}
.dark .text-theme-900 {
  color: #ffffff;
}
.dark .bg-theme-900 {
  background-color: #ffffff;
}
.dark .border-theme-900 {
  border-color: #ffffff;
}/*# sourceMappingURL=theme.css.map */