@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply font-primary;
  }
  .form-label {
    @apply block mb-2 text-light_text dark:text-white font-medium dark:font-[450];
  }

  .form-control {
    @apply w-full text-base font-[500] px-5 py-[0.7rem] outline-none bg-light_400 focus:bg-light_400_darker dark:bg-dark_500 dark:focus:bg-dark_600_lighter rounded-lg text-light_900 dark:text-dark_100;
  }
  .side-nav-link-heading {
    @apply px-1 py-[10px] rounded-xl grid grid-cols-[auto_1fr_auto] items-center gap-2 font-medium text-light_900 hover:text-light_900_darker cursor-pointer;
  }
  .side-nav-link-heading > :first-child {
    @apply text-light_600 transition-transform ease-linear duration-300;
  }
  .side-nav-child-link {
    @apply px-4 py-[10px] rounded-xl text-sm flex items-center gap-2 font-medium text-light_900 hover:text-light_900_darker cursor-pointer;
  }
  .side-nav-child-link:hover:not(.side-nav-child-link.active) > :first-child {
    @apply opacity-0;
  }
  .side-nav-child-link.active {
    @apply bg-primary text-white;
  }
  .side-nav-link {
    @apply px-1 py-[10px] rounded-2xl grid grid-cols-[auto_1fr_auto] items-center gap-2 font-medium text-light_900 hover:text-light_900_darker cursor-pointer;
  }
  .side-nav-link.active {
    @apply bg-primary text-white;
  }
}

.apexcharts-tooltip.apexcharts-theme-light {
  border-radius: 10px;
  border: none !important;
  box-shadow: 0px 0px 50px 0px #cacaca83;
}
.apexcharts-tooltip.apexcharts-theme-light > .apexcharts-tooltip-title {
  background-color: #fff !important;
  border-bottom: 1px solid #666;
  font-size: 0.8rem !important;
  font-family: 'Exo 2', sans-serif;
  color: #1d1d1d;
}
.apexcharts-tooltip-series-group.apexcharts-active {
  color: #333 !important;
}
.apexcharts-xaxistooltip.apexcharts-xaxistooltip-bottom.apexcharts-theme-light {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 30px 0px #cacaca83;
}

.performance-chart-tooltip {
  border-radius: 10px;
}

.performance-chart-tooltip > .tooltip-title {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: left;
  color: #5e5e5e;
  height: 2.1rem;
  padding: 0rem 1rem;
  border-bottom: #cacaca83 1px solid;
  position: relative;
  bottom: 0.3rem;
}
.performance-chart-tooltip > .tooltip-body {
  padding-bottom: 0.25rem;
}
.performance-chart-tooltip > .tooltip-body > p {
  line-height: 1rem;
  padding: 0.25rem 1rem;
  text-align: left;
}
.performance-chart-tooltip > .tooltip-body > p > span {
  margin-left: 0.5rem;
  color: #5e5e5e;
  font-weight: 800;
}

#login_left_side {
  scrollbar-width: none;
}

#login_left_side::-webkit-scrollbar {
  width: 4px;
}

#login_left_side::-webkit-scrollbar-track {
  background-color: transparent;
}

.white-scroll::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.black-scroll::-webkit-scrollbar-thumb {
  background-color: #333;
}

#side-nav::-webkit-scrollbar {
  width: 3px;
}

#side-nav::-webkit-scrollbar-thumb {
  background-color: #dad3c3;
}

#campaign-wrapper::-webkit-scrollbar {
  height: 4px;
}

#campaign-wrapper::-webkit-scrollbar-thumb {
  background-color: #ebe5d6;
}
